extends base.pug


block content
    if errorMessage 
        span= errorMessage

    form(method="POST")
        input(placeholder="Title", required, type="text", name="title", maxlenght="30")
        input(placeholder="Description", required,  type="text", name="description" , minlenght="20")
        input(placeholder="Hashtagsm, separated by comma", required, type="text", name="hashtags")
        input(type="submit", value="Upload Video")
